<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1, a {font-family: "Lato", sans-serif;}
        body, html {
            background-color: rgba(225, 197, 148, 0.98);
            height: 100%;
            color: #544f4f;
            line-height: 1.8;
        }
        header{
            background-color: rgb(117, 86, 54);
            color: white;
        }
        footer {
            background-color: rgb(117, 86, 54);
            color: #ffffff;
        }
    </style>
</head>
<header class="w3-panel w3-center w3-opacity" style="padding:10px 16px">
    <h1 class="w3-xlarge">Онлайн система</h1>
    <h1>Расчёта зарплат</h1>
</header>
<body th:align="center">
<h1 style="color: rgb(117, 86, 54)">К сожалению, в этом месяце слишком много работников уходят в отпуск. Попробуйте оставить заявку на другой месяц</h1>
<tr th:each="el : ${workers}">
<a th:href="'/apply/'+${el.id}" class="w3-xlarge">Попробовать снова</a>

<br></br>
<br></br>
</body>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="padding:100px 16px">
    <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
        <tr th:each="el : ${workers}">
            <li class="nav-item"><a th:href="'/inf/' + ${el.id}" class="nav-link px-2 text-muted">Справочная информация</a></li>
            <li class="nav-item"><a th:href="'/apply/'+${el.id}" class="nav-link px-2 text-muted">Заявка на отпуск</a></li>
            <li class="nav-item"><a th:href="'/charity/'+${el.id}" class="nav-link px-2 text-muted">Отчисление из ЗП</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Выход</a></li>
    </ul>
</footer>